{% extends "layout.html.twig" %}

{% block content %}
    <p>Get with parameters</p>
    <p>The first parameter was: {{ firstValue }}</p>
    <p>The first parameter was: {{ secondValue }}</p>
{% endblock %}
