{% extends "layout.html.twig" %}

{% block content %}
    <p>Make new user</p>
    <p>
        <form action="/controllers/user/store" method="post">
            First name:<br>
                <input type="text" name="firstName" value="">
            <br>
            Last name:<br>
                <input type="text" name="lastName" value="">
            <br><br>
            <input type="submit" value="Create">
        </form>
    </p>
{% endblock %}
