{% extends "layout.html.twig" %}

{% block content %}
    <p>User controller was loaded</p>
    {% for user in users %}
        <p>
            {{ user.id }}
            {{ user.first_name }}
            {{ user.last_name }}
        </p>
    {% endfor %}

{% endblock %}
